body {
	background-image:url("balance-blur-close-up-668353.jpg"); 
	background-size: cover;
}

.zone {
    /*padding: 30px 50px;*/
    cursor: pointer;
    color: #FFF;
    /*font-size: 2em;*/
    transition: all 0.3s linear;
    /*margin-top: 20px;
    margin-bottom: 20px:;
    margin-right: 10px;
    margin-left: 101px;*/
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*LANDING PAGE*/

.btn-primary {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(AGR3.jpg);
  text-decoration: none;
  border: 5px solid black;
  color: black;
  box-shadow: 5px 5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: solid black;
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
}

.btn-primary2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(AGR3.jpg);
  border: 5px solid black;
  color: black;
  box-shadow: 5px 5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: solid black;
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: flex-end; 
}

/*NAV*/

.navbar-expand-lg {
 background-color: #FFE9AA;
 border: 5px solid black; 
}

.sticky {
    position: fixed;
   top: 0;
    width: 100%;
  }

/*COVER*/

.container  {  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: #f5f5f6;
}

.cover {
    justify-content: center;
    width: 20rem;
    margin-top: 40px;
}

h1 {
	display: flex;
  margin-top: 40px;
  padding: 10px;
  color: #FFE9AA;
  font-family: 'Permanent Marker', cursive;
}

p {
  display: flex;
  align-items: flex-end; 
  color: #FFE9AA;
  font-family: 'Permanent Marker', cursive;
  margin-top: 40px;
  margin-right: 75px;
  margin-left: 75px;
  padding: 15px 50px;
}

.body {
  display: flex;
  /*align-items: flex-end;*/ 
  color: #FFE9AA;
  font-family: 'Permanent Marker', cursive;
  margin-right: 250px;
  margin-left: 250px;
}

pre {
  display: flex;
  align-items: flex-end;
  justify-content: center; 
  color: #FFE9AA;
  font-family: 'Permanent Marker', cursive;
}


/*img {
 margin: auto;
 margin-top: 3%;
 display: flex;
  align-items: flex-end; 
  border: 5px solid white;
  align-items: flex-end;
}

/*.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: #f1f1f1;
  font-family: 'Permanent Marker', cursive;
}*/

.aboutpic {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 15px 50px;
}

/*GRID*/

.grid-wrapper {
    display: grid;
    margin-right: 25px;
    margin-left: 25px;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /*color: #FFE9AA;*/
    /*background-image: url(AGR3.jpg);*/
    border-radius: 10px;
    /*border: 5px solid black;*/ 
}

.box > img {
    width: 100%;
    height: 100%;
}

.box {
    background-color: #444;
    padding: 20px;
    margin: 30px;
    border: 2px solid black; 
    border-radius: 5px;
   }

/*FOOT*/

footer {
    text-align: center;
    padding: 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    border-radius: 25px;
  }



/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
     }

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #AA8C39; /* Old browsers */
    background: -moz-linear-gradient(top, #AA8C39 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #AA8C39 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
} 

/***********************************************************************
 *  Blue Background
 **********************************************************************/
/*.blue{
    background: #226666; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #226666 0%,#AA8C39 44%, #226666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    }
